# System files
.DS_Store
*.*~
*~

# .idea files
*.iml
.idea/*

# Build and compile directories
out/
build/
logs/

# Generated config files
manifest.mf

# Packages
*.jar

# Gradle compilation output
.gradle/

# Security ignore
*.json

# Local files
app/
*.db