# System files
.DS_Store
*.*~
*~

# .idea files
*.iml
.idea/*

# Build and compile directories
out/
build/
logs/

# Generated config files
build.xml
manifest.mf

# Packages
*.jar
*.war

# Gradle compilation output
.gradle/

# Security ignore
settings.json

# Local files
playlists/
app/